*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#container-1{
    background-color: #fff;
    width: 95vw;
    border-radius: 4.5rem;
}

#text-container{
    justify-content: center;
    align-content: center;
}

#startButton{
    border: black 0.1rem solid;
    width: 5vw;
    color: black;
}

#startButton:hover{
    background-color: black;
    color: white;
}

#imageIntro {
    background-image: url('/media/plano-completo.png');
    background-position: center;
    min-height: 100vh;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
}

/*Main page*/
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    list-style: none;
    justify-content: center;
    gap:15vw;

    width: 100vw;
    height: 10vh;
}

a {
    text-decoration: none;
    color: #fff;
}

.phrase {
    background-color: white;
    color: black;
    width: 100vw;
    height: 15rem;
    /*gap: 2rem;*/
}

.phrase-text {
    text-align: center;
    font-size: 1.5em;
}

h6 {font-size: 1.3em;}

section {
    color: white;
}