*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    overflow: hidden;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    list-style: none;
    justify-content: center;
    gap:15vw;

    width: 100vw;
    height: 10vh;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn-outline-{
    border: black 0.1rem solid;
    width: 3.5vw;
}

.btn-outline-:hover{
    background-color: black;
    color: white;
}

.card-body {
    justify-content: center;
    align-content: center;
}

.col-md-8 {
    display: flex;
    height: 100vh;
}

.phrase {
    background-color: white;
    color: black;
    width: 100vw;
    height: 15rem;
    /*gap: 2rem;*/
}

.phrase-text {
    text-align: center;
    font-size: 1.5em;
}

h6 {font-size: 1.3em;}
