*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    overflow: hidden;
    color: ;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    list-style: none;
    justify-content: center;
    gap:15vw;

    width: 100vw;
    height: 10vh;
}

a {text-decoration: none;}